<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>YouConnect - Login | Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!--     <link rel="stylesheet" href="/css/style.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body style="margin:0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: flex; flex-direction: row; justify-content: space-between;">
      <div><h2 style="color:white;">
        Howdy!
       </h1>
      </div>
      <div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active mr-sm-2">
            <form action="/sessions" method="POST"><div style="display: flex; flex-direction: row; align-items: flex-end; flex-wrap: wrap;">
              <div class= "mr-sm-2" style="display: flex; flex-direction: column; align-items: flex-start; flex-wrap: wrap;">
                <label style="color:white;"> Username </label> 
                <input class="form-control" type="text" name="username"/>
              </div>
              <div class= "mr-sm-2" style="display: flex; flex-direction: column; align-items: flex-start; flex-wrap: wrap;">
                <label style="color:white;"> Password </label> 
                <input class="form-control" type="password" name="password"/>
              </div>
          
              <input type="submit" value="Log in" class="btn btn-light"/>
            </div>
            </form> 
          </li>
        </ul>
      </div>
    </div>
    </nav>
    <div class="jumbotron" style="align-items:center;display: flex; flex-direction: row; justify-content: center;">
      <div>
        <svg width="200px" height="200px" viewBox="0 0 16 16" class="bi bi-people" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.995-.944v-.002.002zM7.022 13h7.956a.274.274 0 0 0 .014-.002l.008-.002c-.002-.264-.167-1.03-.76-1.72C13.688 10.629 12.718 10 11 10c-1.717 0-2.687.63-3.24 1.276-.593.69-.759 1.457-.76 1.72a1.05 1.05 0 0 0 .022.004zm7.973.056v-.002.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10c-1.668.02-2.615.64-3.16 1.276C1.163 11.97 1 12.739 1 13h3c0-1.045.323-2.086.92-3zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"></path>
        </svg>
      </div>

     <div class="row" style="text-align:center; margin-left:2%">
      <h1 style="font-size:90px;"><span class="row"><div style="color:#007bff;">Y</div>
                            <div style="color:red">o</div>
                            <div style="color:green">u</div>
                            <div>C</div>
                            <div style="color:Orange">o</div>
                            <div style="color:green">n</div>
                            <div style="color:red">n</div>
                            <div style="color:#007bff;">e</div>
                            <div style="color:purple;">c</div>
                            <div >t</div>
                            </span></h1>

     </div>
    </div>

  <div class="container" style="width:25%">
    <div class="row" style="margin-bottom:25px"> 
     <h1> Connect Now!  </h1>
    </div>
          <form action="/users" method="POST" >
            <div class="form-group">
                <input class="form-control" type="text" placeholder="First name" name="firstName">
            </div>
            <div class="form-group">
                <input class="form-control" type="text"  placeholder="Last name" name="lastName">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="email (Username)"/>
            </div>
            <div class="form-group"> 
                <input  class="form-control" type="password" name="password" placeholder="Password"/>
            </div>
            <div class="form-group">
                <input  class="form-control" type="number" name="zipcode" placeholder="Zipcode (optional)"/>
            </div>
            <div class="form-group">
                <input class="btn btn-primary form-control" type="submit" value="Sign up"/>
            </div>
      
          </form>

  </div>

 </body>

</html>